/**
 * Material Symbols with .material-symbols-outlined definition, placed earlier than Tailwind utilities
 * so that Tailwind utilities can override Material Symbols.
 * Icon size and weight is defined here in URL.
 * @ref https://developers.google.com/fonts/docs/material_symbols
 */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,300,0,0');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Suggested by Google Font */
  font-optical-sizing: auto;
}

/**
 * https://github.com/nextui-org/nextui/issues/1494
 */
body > [data-overlay-container] {
  @apply flex flex-col min-h-screen items-center;
}

/** Material Symbols */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

@layer components {
  .highlighter {
    /** https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css */
    margin: 0 -0.2em;
    padding: 0.1em 0.2em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
